/*

	PERSONAL WEBSITE: VICTOR COPQUE
	AUTHOR: VICTOR COPQUE DOS REIS
	VERSION: 0.0.1

*/
/* BASE - Base styles, variables, mixins, etc */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

/* MODULES - Individual site components */
/*
Section Initial
*/
.section-initial .row .col-lg-8 .jumbotron h1 {
  color: #fff;
  font-family: "Poiret One", cursive;
  font-size: 4em; }
  @media screen and (max-width: 768px) {
    .section-initial .row .col-lg-8 .jumbotron h1 {
      font-size: 3em; } }
.section-initial .row .col-lg-8 .jumbotron p {
  color: #fff;
  font-size: 1em; }
  .section-initial .row .col-lg-8 .jumbotron p a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold; }

/*
Lists of Nav
*/
nav .container-fluid .navbar-header {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  font-weight: initial;
  color: #34495e; }
nav .container-fluid .navbar-right ul li a {
  background-color: #fff;
  color: #34495e; }

/*
Lists of Footer
*/
footer .copyright {
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px; }

/*
Whitin of Footer
*/
footer .social-buttons {
  margin-bottom: 0; }
  footer .social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #34495e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
    footer .social-buttons li a:hover, footer .social-buttons li a:focus, footer .social-buttons li a:active {
      background-color: #3498db; }

.section-initial {
  margin-top: 70px;
  width: 100%;
  height: 55%;
  height: 55vh; }
  .section-initial:before {
    margin-top: 70px;
    content: " ";
    width: 100%;
    height: 55%;
    height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; }
  .section-initial:after {
    margin-top: 70px;
    content: " ";
    width: 100%;
    height: 55%;
    height: 55vh;
    /*The image above was found in the WallpapersHD App that can be found on the follow link: https://play.google.com/store/apps/details?id=com.pixign.premiumwallpapers */
    background-image: url("../img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  .section-initial .row {
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
    .section-initial .row .col-lg-8:nth-child(1) {
      height: 100%; }
      .section-initial .row .col-lg-8:nth-child(1) .jumbotron {
        margin: 0 auto;
        width: 80%;
        margin-top: 120px; }
        @media screen and (max-width: 1300px) {
          .section-initial .row .col-lg-8:nth-child(1) .jumbotron {
            margin-top: 80px;
            width: 90%; } }
        @media screen and (max-width: 1100px) {
          .section-initial .row .col-lg-8:nth-child(1) .jumbotron {
            margin-top: 50px;
            width: 90%; } }
        @media screen and (max-width: 400px) {
          .section-initial .row .col-lg-8:nth-child(1) .jumbotron {
            width: 100%;
            margin-top: 0px; } }
  @media screen and (max-width: 850px) and (orientation: portrait) {
    .section-initial {
      height: 330px; }
      .section-initial:before {
        content: " ";
        width: 100%;
        height: 330px;
        margin-top: 70px; }
      .section-initial:after {
        content: " ";
        width: 100%;
        height: 330px;
        margin-top: 70px; } }
  @media screen and (max-width: 850px) and (orientation: landscape) {
    .section-initial {
      height: 250px; }
      .section-initial:before {
        content: " ";
        width: 100%;
        height: 250px;
        margin-top: 70px; }
      .section-initial:after {
        content: " ";
        width: 100%;
        height: 250px;
        margin-top: 70px; } }

.section-initial .jumbotron {
  background-color: transparent; }

/* LAYOUTS - Page layout styles */
nav {
  border-radius: 0;
  border-style: none;
  background-color: transparent; }
  nav .container-fluid {
    padding: 0px 100px; }
    nav .container-fluid .navbar-collapse {
      box-shadow: none; }
  @media screen and (max-width: 768px) {
    nav .container-fluid .navbar-header {
      text-align: center;
      width: 100%;
      font-family: "Pacifico", cursive;
      font-size: 2em;
      font-weight: initial; }
    nav .container-fluid .navbar-right {
      display: none; } }

header {
  padding-top: 13px;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    header {
      padding-top: 11.7px;
      height: 70px; } }

footer {
  padding: 25px 0;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
