$base-font-footer: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font: 'Pacifico', cursive;
$secondfont-family: 'Poiret One', cursive;
$base-color: #fff;
$base-color-hover: #3498db;
$lineheight-default-footer: 40px;
$base-color-contrast: #34495e;
$base-padding-navbar: 13px;
$height-header: 70px;
$height-header-mobile: 70px;
