header{
	padding-top: $base-padding-navbar;
	height: $height-header;
    background-color: $base-color;
    @include position-perfect("top", fixed);
    z-index: 1000;
	@media screen and (max-width: 768px){
        padding-top: $base-padding-navbar - $base-padding-navbar*0.1;
		height: $height-header-mobile;
	}
}
