nav{
	border: {
		radius: 0;
		style: none;
	}
	background-color: transparent;
	.container-fluid{
		padding: 0px 100px;
		.navbar-collapse{
			box-shadow: none;
		}
	}
	@media screen and (max-width: 768px){
		.container-fluid{
			.navbar-header{
				text-align:center;
				width: 100%;
				@include fonts($base-font, 2em, initial);
			}
			.navbar-right{
				display: none;
			}
		}
	}
}
