/*
Whitin of Footer
*/

footer {
    .social-buttons {
        margin-bottom: 0;
        li {
            a {
                display: block;
                width: 40px;
                height: 40px;
                @include border-radius(100%);
                font-size: 20px;
                line-height: $lineheight-default-footer;
                outline: 0;
                color: $base-color;
                background-color: $base-color-contrast;
                @include transition(all, .3s);
                &:hover, &:focus, &:active {
                    background-color: $base-color-hover;
                }
            }
        }
    }
}
