.section-initial{
    margin-top: $height-header;
    width: 100%;
    @include height-page(55%, 55vh);

    &:before{
        margin-top: $height-header;
        @include basic-pseudo-element(100%, 55%, 55vh);
        @include position-perfect("top", absolute);
        @include background-transparent(#000);
        z-index: -1;
    }

    &:after{
        margin-top: $height-header;
        @include basic-pseudo-element(100%, 55%, 55vh);
        /*The image above was found in the WallpapersHD App that can be found on the follow link: https://play.google.com/store/apps/details?id=com.pixign.premiumwallpapers */
        @include background-img("../img/4.jpg", 0% 20%);
        @include position-perfect("top", absolute);
        z-index: -2;
    }

    .row{
        max-width: 100%;
        @include height-page(100%, null);
        @include without-PandM();
        .col-lg-8:nth-child(1){
            @include height-page(100%, null);
            .jumbotron{
                margin: 0 auto;
                width: 80%;
                margin-top: 120px;
                @media screen and (max-width: 1300px){
                    margin-top: 80px;
                    width: 90%;
                }
                @media screen and (max-width: 1100px){
                    margin-top: 50px;
                    width: 90%;
                }
                @media screen and (max-width: 400px){
                    width: 100%;
                    margin-top: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 850px) and (orientation: portrait){
        @include height-page(330px, null);

        &:before{
            @include basic-pseudo-element(100%, 330px, null);
            margin-top: $height-header;
        }

        &:after{
            @include basic-pseudo-element(100%, 330px, null);
            margin-top: $height-header;
        }
    }

    @media screen and (max-width: 850px) and (orientation: landscape){
        @include height-page(250px, null);

        &:before{
            @include basic-pseudo-element(100%, 250px, null);
            margin-top: $height-header;
        }

        &:after{
            @include basic-pseudo-element(100%, 250px, null);
            margin-top: $height-header;
        }
    }
}
