/*
Section Initial
*/

.section-initial{
    .row{
        .col-lg-8{
            .jumbotron{
                h1{
                    color: $base-color;
                    font: {
                        family: $secondfont-family;
                        size: 4em;
                    }
                    @media screen and (max-width: 768px){
                        font: {
                            size: 3em;
                        }
                    }
                }
                p{
                    color: $base-color;
                    font: {
                        size: 1em;
                    }
                    a{
                        color: $base-color-hover;
                        text-decoration: none;
                        font: {
                            size: 1.4em;
                            weight: bold;
                        }
                    }
                }
            }
        }
    }
}

/*
Lists of Nav
*/

nav{
    .container-fluid{
        .navbar-header{
            @include fonts($base-font, 2em, initial);
            color: $base-color-contrast;
        }
        .navbar-right{
            ul{
                li{
                    a{
                        background-color: $base-color;
                        color: $base-color-contrast;
                    }
                }
            }
        }
    }
}

/*
Lists of Footer
*/

footer {
    .copyright {
        text-transform: none;
        font-family: $base-font-footer;
        line-height: $lineheight-default-footer;
    }
}
