		<footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <span class="copyright">Copyright &copy; Victor Copque 2015</span>
	                </div>
	                <div class="col-md-6">
	                    <ul class="list-inline social-buttons">
	                        <li><a href="https://github.com/victorcopque"><i class="fa fa-github"></i></a>
	                        </li>
	                        <li><a href="https://www.facebook.com/vcopque"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li><a href="https://www.linkedin.com/pub/victor-copque/94/134/9a"><i class="fa fa-linkedin"></i></a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="vendor/js/bootstrap.min.js"></script>
	</body>
</html>
