<section class="section-initial">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="jumbotron">
                <h1>Contribua com o projeto!</h1>
                <p>Siga-me no <strong>GitHub: </strong> <a href="https://github.com/victorcopque/" target="_blank">@victorcopque</a></p>
                <a class="btn btn-lg btn-primary" href="https://github.com/victorcopque/PersonalWebsite" target="_blank" role="button"><strong>GitHub</strong> <i class="fa fa-github-alt"></i></a>
            </div>
        </div>
    </div>
</section>
